.rootContainer {
	display: flex;
	flex-direction: row;
}

.leftPanel {
	width: 200px;
	display: flex;
	flex-direction: column;
}

.rightPanel {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
}

.rightPanelTop {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.rightPanelContent {
	display: flex;
	flex-direction: column;
}
